/*  your css code here. If applicable */

body {
	font-familys:Arial, sans-serif;
	margin:20px;
}

h1 {
	text-align:center;
}

#bands {
	/* list-style-type:none; */
	padding:0;
}

#bands li{
	padding:8px;
	border-bottom: 1px solid #ddd;
}

#bands li:hover {
	background-color:#f0f0f0;
}